* {
    box-sizing: border-box;
  }
  
  /* root for color */
  :root {
    --primary-color: #fff;
    --tertiary-color: #17a2b8;
  }
  
  /* header */
  header h1 {
    font-size: 50px;
  }
  
  #searchBar {
    display: grid;
    grid-template-columns: auto 44px;
    gap: 5px;
    margin-bottom: 20px;
  }
  
  #searchText {
    width: 100%;
    grid-column: 1 / span 1;
  }
  
  #currentDeg {
    top: -47px;
    right: -30px;
    font-size: 60px;
  }
  
  /* Footer */
  
  footer {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
  }
  
  footer h2 a {
    text-decoration: none;
    color: var(--primary-color);
  }
  